<%- include('partials/header') %>

<script src="/js/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: '#draft',
        plugins: [
            'a11ychecker','advlist','advcode','advtable','autolink', 'autoresize', 'checklist','export',
            'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
            'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | link image | code ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help',
        /* enable title field in the Image dialog*/
        image_title: true,
        /* enable automatic uploads of images represented by blob or data URIs*/
        automatic_uploads: true,
        /*
            URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
            images_upload_url: 'postAcceptor.php',
            here we add custom filepicker only to Image dialog
        */
        file_picker_types: 'image',
        /* and here's our custom image picker*/
        file_picker_callback: (cb, value, meta) => {
            const input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            input.addEventListener('change', (e) => {
            const file = e.target.files[0];

            const reader = new FileReader();
            reader.addEventListener('load', () => {
                /*
                Note: Now we need to register the blob in TinyMCEs image blob
                registry. In the next release this part hopefully won't be
                necessary, as we are looking to handle it internally.
                */
                const id = 'blobid' + (new Date()).getTime();
                const blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                const base64 = reader.result.split(',')[1];
                const blobInfo = blobCache.create(id, file, base64);
                blobCache.add(blobInfo);

                /* call the callback and populate the Title field with the file name */
                cb(blobInfo.blobUri(), { title: file.name });
            });
            reader.readAsDataURL(file);
            });

            input.click();
        }
        
    });

</script>

<main id="new-post" class="container">

    <h1>Create Post</h1>

    <section>
    
        <form action="/create-post" method="POST" id="post">
            <h1><label for="">Post Title</label></h1>
            <input type="text" name="title">
            <h1><label for="">Post Body</label></h1>
            <textarea  name="content" id="draft"></textarea>
            <input type="submit" value="Save">
        </form>


        <div id="uploads">
            <h2>Image Catalogue</h2>
            <form action="/upload-images" method="POST" enctype="multipart/form-data">
                <input type="file" name="blogImage" id="" multiple>
                <input type="submit" value="+Add images">
            </form>
            <div id="list">
                
                <% if(images.length > 0) { %>

                    <% images.forEach(image => { %>
                        <div class="blog-image"><img src="<%= `/blogImages/${image}` %>" alt="" class="thumbnail" title="Copy Source"></div>
                    <% }) %>

                <% } %>

            </div>
        </div>

    </section>

</main>


<script>
    let thumbNails = document.querySelectorAll('.thumbnail')
    thumbNails.forEach(thumbNail => {
        thumbNail.addEventListener('click', () => {
            let src = `blob:http://localhost:3000${thumbNail.getAttribute('src')}`
            let copiedSrc = document.createElement('textarea')
            copiedSrc.value = src
            document.body.appendChild(copiedSrc)
            copiedSrc.select()
            document.execCommand('copy')
            document.body.removeChild(copiedSrc)
        })
    })
</script>



<%- include('partials/footer') %>