<%- include('partials/header') %>

    <main class="access">
        <form action="/login" method="post">
            <img src="/img/logo.png" alt="" class="logo">
            <label for="">Email Address</label>
            <input type="email" name="email" id="" required>
            <label for="">Password</label>
            <input type="password" name="password" id="" required>
            <input type="submit" value="Log In">
            <p>Don't have an account? <a href="/signup">Create One</a></p>
        </form>
    </main>
    
<%- include('partials/footer') %>